In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/Mayo/Documents/base_datos_2008.csv", nrows=1e6)
#cargamos millones de datos

In [2]:
dfduplicate = df.append(df)

C:\Users\Mayo\AppData\Local\Temp\ipykernel_7200\20558261.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfduplicate = df.append(df)

In [3]:
#Lo reordenamos
dfduplicate = dfduplicate.sample(frac=1)

In [4]:
#Eliminamos los casos faltantes
dfclean = dfduplicate.drop_duplicates()

In [5]:
len(df)

7009728

In [6]:
len(dfclean)

7009724

In [7]:
len(dfduplicate)

14019456

In [8]:
#subset busca duplicados sobre la columna que le especifiquemos 
dfclean.drop_duplicates(subset = 'DayofMonth')

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2158004,2008,4,28,1,1435.0,1440,1818.0,1808,FL,918,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5380803,2008,9,12,5,1105.0,1110,1132.0,1158,DL,1187,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1541306,2008,3,11,2,1513.0,1509,1726.0,1722,FL,524,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1765189,2008,3,21,5,644.0,650,733.0,746,CO,1668,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6221179,2008,11,29,6,828.0,830,1117.0,1125,DL,241,...,22.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1547957,2008,3,20,4,1857.0,1859,2040.0,2033,FL,195,...,16.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1065177,2008,2,19,2,1212.0,1200,1404.0,1350,AA,659,...,12.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6128431,2008,11,6,4,1511.0,1517,1558.0,1610,OO,7765,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2426880,2008,5,14,3,1346.0,1340,1927.0,1940,WN,1062,...,2.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3830680,2008,7,1,2,724.0,733,1617.0,1615,UA,6,...,6.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
195310,2008,1,17,4,1958.0,1958,2132.0,2124,OO,5437,...,13.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4524415,2008,8,24,7,649.0,648,842.0,843,US,403,...,5.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3021015,2008,6,10,2,2144.0,1710,2335.0,1920,WN,1315,...,6.0,7.0,0,NaN,0,2.0,0.0,0.0,0.0,253.0
5389625,2008,10,4,6,738.0,740,938.0,935,WN,2275,...,2.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6373495,2008,11,15,6,1123.0,1130,1707.0,1715,AA,1082,...,8.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5763590,2008,10,3,5,1511.0,1515,1555.0,1610,MQ,4203,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
967360,2008,2,5,2,2038.0,1922,2125.0,2015,MQ,3216,...,6.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,70.0
3567238,2008,6,22,7,1827.0,1700,2300.0,2134,CO,1676,...,4.0,33.0,0,NaN,0,0.0,0.0,86.0,0.0,0.0
5144321,2008,9,18,4,953.0,920,1142.0,1115,EV,4367,...,4.0,17.0,0,NaN,0,27.0,0.0,0.0,0.0,0.0
6508357,2008,12,16,2,1910.0,1815,2021.0,1935,WN,1687,...,6.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,46.0
6282527,2008,11,26,3,1441.0,1250,1623.0,1420,MQ,3187,...,13.0,18.0,0,NaN,0,5.0,0.0,12.0,0.0,106.0
639389,2008,2,13,3,705.0,705,817.0,825,WN,1356,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6200813,2008,11,2,7,1217.0,1215,2006.0,2005,WN,2075,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5257191,2008,9,8,1,659.0,650,752.0,750,9E,3767,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6847182,2008,12,27,6,1758.0,1520,1929.0,1630,MQ,4618,...,5.0,47.0,0,NaN,0,18.0,0.0,21.0,0.0,140.0
5274168,2008,9,23,2,1137.0,1140,1229.0,1240,AA,317,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5477764,2008,10,31,5,856.0,900,1008.0,1025,WN,1852,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5498412,2008,10,7,2,1853.0,1855,2032.0,2025,XE,2804,...,7.0,27.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5549142,2008,10,30,4,940.0,947,1052.0,1059,OO,4034,...,3.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3591629,2008,6,9,1,1827.0,1824,2052.0,2040,DL,1805,...,14.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2155886,2008,4,25,5,538.0,543,829.0,840,FL,290,...,12.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [9]:
#dropna elimina los datos null 
#thresh seleccionamos cuantas columnas queremos que mantengan información relevante 
df.dropna(thresh=25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009715,2008,12,13,6,848.0,850,1024.0,1005,DL,1628,...,4.0,44.0,0,NaN,0,0.0,0.0,19.0,0.0,0.0
7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,...,15.0,34.0,0,NaN,0,0.0,57.0,18.0,0.0,0.0
7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,8.0,32.0,0,NaN,0,1.0,0.0,19.0,0.0,79.0
7009719,2008,12,13,6,638.0,640,808.0,753,DL,1632,...,14.0,26.0,0,NaN,0,0.0,0.0,15.0,0.0,0.0
7009721,2008,12,13,6,612.0,615,923.0,907,DL,1635,...,5.0,23.0,0,NaN,0,0.0,0.0,16.0,0.0,0.0

In [11]:
df.dropna(thresh=len(df.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009715,2008,12,13,6,848.0,850,1024.0,1005,DL,1628,...,4.0,44.0,0,NaN,0,0.0,0.0,19.0,0.0,0.0
7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,...,15.0,34.0,0,NaN,0,0.0,57.0,18.0,0.0,0.0
7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,8.0,32.0,0,NaN,0,1.0,0.0,19.0,0.0,79.0
7009719,2008,12,13,6,638.0,640,808.0,753,DL,1632,...,14.0,26.0,0,NaN,0,0.0,0.0,15.0,0.0,0.0
7009721,2008,12,13,6,612.0,615,923.0,907,DL,1635,...,5.0,23.0,0,NaN,0,0.0,0.0,16.0,0.0,0.0

In [12]:
df.dropna(subset = ["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009455,2008,12,13,6,NaN,600,NaN,815,DL,1211,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
7009464,2008,12,13,6,NaN,1930,NaN,2129,DL,1218,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
7009564,2008,12,13,6,NaN,700,NaN,1035,DL,1421,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
7009565,2008,12,13,6,NaN,1115,NaN,1432,DL,1422,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
7009648,2008,12,13,6,NaN,1020,NaN,1126,DL,1532,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN