In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/Mayo/Documents/base_datos_2008.csv")

In [5]:
#Podemos hacer busquedas agrupadas con groupby
#En el ejemplo hacemos una busqueda por semanas del valor m√°ximo del retraso de los vuelos de esa semana 
#Existen otras funciones como max() mean() min() count() describe() [Muestra un informe estadiostico] etc
df.groupby(by = "DayOfWeek")["ArrDelay"].describe()

               count       mean        std    min   25%  50%   75%     max
DayOfWeek
1          1013410.0   8.210850  38.013811 -519.0 -10.0 -2.0  12.0  1583.0
2          1005992.0   7.481208  38.361073  -89.0 -11.0 -3.0  11.0  1951.0
3          1016995.0   6.522017  36.024679  -87.0 -10.0 -3.0  10.0  1510.0
4          1011970.0   8.411599  37.397411 -129.0 -10.0 -1.0  12.0  2453.0
5          1008872.0  10.953440  40.252320  -86.0  -9.0  0.0  15.0  1707.0
6           841663.0   5.789666  37.163120  -91.0 -11.0 -3.0   9.0  1525.0
7           956127.0   9.495886  41.759296  -92.0 -10.0 -2.0  12.0  2461.0

In [6]:
df.groupby(by = "DayOfWeek")["ArrDelay","DepDelay"].mean()

C:\Users\Mayo\AppData\Local\Temp\ipykernel_916\1994284358.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by = "DayOfWeek")["ArrDelay","DepDelay"].mean()

            ArrDelay   DepDelay
DayOfWeek
1           8.210850  10.269990
2           7.481208   8.976897
3           6.522017   8.289761
4           8.411599   9.772897
5          10.953440  12.158036
6           5.789666   8.645681
7           9.495886  11.568973

In [10]:
df.groupby(by = "DayOfWeek")["ArrDelay"].max() -  df.groupby(by = "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    2102.0
2    2040.0
3    1597.0
4    2582.0
5    1793.0
6    1616.0
7    2553.0
Name: ArrDelay, dtype: float64

In [11]:
# creamos una nueva DB con solo los vuelos de ATL y Hou
dfATLHOU = df[df.Origin.isin(["ATL","HOU"])]

In [12]:
dfATLHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          ATL        9.123436
           HOU        6.356856
2          ATL        8.933587
           HOU        9.348112
3          ATL        8.809146
           HOU        9.073109
4          ATL       10.186501
           HOU       12.994016
5          ATL       14.797440
           HOU       11.036545
6          ATL        9.511662
           HOU        4.283933
7          ATL       13.798627
           HOU        7.045287
Name: ArrDelay, dtype: float64

In [13]:
#Podemos guardar los groupby
mygroupby = dfATLHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"]

In [14]:
mygroupby.max()

DayOfWeek  Origin
1          ATL        407.0
           HOU        383.0
2          ATL        848.0
           HOU        546.0
3          ATL        876.0
           HOU        639.0
4          ATL        571.0
           HOU       1082.0
5          ATL        699.0
           HOU        560.0
6          ATL        483.0
           HOU        917.0
7          ATL        612.0
           HOU        685.0
Name: ArrDelay, dtype: float64