In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/Mayo/Documents/base_datos_2008.csv")

In [2]:
#Cuando fijamos una semilla obtenemos la misma información para datos aleatorios que alguien con la misma semilla 
np.random.seed(0)

df=df[df["Origin"].isin(["HOU","ATL", "IND"])]
df = df.sample(frac=1)
df = df[0:10000]

In [3]:
#Si el retraso es mayor a 30 tenemos un gran retraso del vuelo 
df["BigDelay"] = df["ArrDelay"] > 30 
#Creamos una tabla de contingencia 
observados = pd.crosstab(index=df['BigDelay'],columns=df['Origin'],margins=True)
#Los margenes son All y estan en el final de las filas y las columnas

In [4]:
observados
#Podemos observar el numero de vuelos con un gran retraso en diferentes regiones

Origin     ATL   HOU  IND    All
BigDelay
False     6927   883  765   8575
True      1197   129   99   1425
All       8124  1012  864  10000

In [5]:
from scipy.stats import chi2_contingency

In [6]:
#Generamos una tabla a partir de observados
test = chi2_contingency(observados)

In [7]:
test
#El primer dato es la suma de las diferencias al cuadrado
#El segundo es el p-valor , perimte tomar decisiones basadas en algún criterio 
#La tabla es una tabla de valores esperados

(8.939538453043031,
 0.17700704816414425,
 6,
 array([[ 6966.33,   867.79,   740.88,  8575.  ],
        [ 1157.67,   144.21,   123.12,  1425.  ],
        [ 8124.  ,  1012.  ,   864.  , 10000.  ]]))

In [8]:
#Convertimos la tabla de valores esperados en un data frame
esperados = pd.DataFrame(test[3])

In [9]:
esperados

         0        1       2        3
0  6966.33   867.79  740.88   8575.0
1  1157.67   144.21  123.12   1425.0
2  8124.00  1012.00  864.00  10000.0

In [10]:
#Creamos una tabla con los valores esperados relativos y los valores observados relativos para que sea más facil compararlos 
#La funcion lambda divide cada uno de los valores por el total de valores multiplicado por 100
esperados_rel = round(esperados.apply(lambda r: r/len(df) * 100, axis=1), 2)

In [11]:
observados_rel = round(esperados.apply(lambda r: r/len(df) * 100, axis=1), 2)

In [12]:
observados_rel

       0      1     2       3
0  69.66   8.68  7.41   85.75
1  11.58   1.44  1.23   14.25
2  81.24  10.12  8.64  100.00

In [13]:
esperados_rel

       0      1     2       3
0  69.66   8.68  7.41   85.75
1  11.58   1.44  1.23   14.25
2  81.24  10.12  8.64  100.00

In [14]:
test[1]

0.17700704816414425

In [16]:
#Resumen de Test de Hipotesis
#Si el p-valor < 0.05 hay diferencias significativas: Hay relacion entre variables
#Si el p-valor > 0.05, no hay diferencias significativas: No hay relaicon entre variables